<div>

  <h3>Contactos</h3>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist" id="myTabs">
    <li role="presentation" class="active">
      <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Solicitudes Enviadas ({{vm.contacts.pendingForAnswer.length}})</a>
    </li>
    <li role="presentation">
      <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Solicitudes recibidas ({{vm.contacts.pendingToAnswer.length}})</a>
    </li>
    <li role="presentation">
      <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Lista de Contactos ({{vm.contacts.active.length}})</a>
    </li>
    <li role="presentation">
      <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Hacer solicitud</a>
    </li>
  </ul>


  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
      <br>
      <!-- <button ng-click="vm.getPendingContacts(1)">Enviadas</button>
      <button ng-click="vm.getPendingContacts(2)">Recibidas</button> -->
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default" ng-repeat="enviada in vm.contacts.pendingForAnswer">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" ng-if="enviada._usuarioRecibe" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                {{enviada._usuarioRecibe.nombre}} {{enviada._usuarioRecibe.apellidos}}
              </a>
              <span ng-if="!enviada._usuarioRecibe" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Nombre de usuario desconocido
              </span>              
              <i class="pull-right">enviado en: {{enviada.fecha}}</i>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              {{enviada.observaciones}}
            </div>
          </div>
        </div>
      </div>

    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
      <!-- <button ng-click="vm.getActiveContacts()">Refresh</button> -->

      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default" ng-repeat="enviada in vm.contacts.active">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                {{enviada._usuarioRecibe.nombre}} {{enviada._usuarioRecibe.apellidos}}
              </a>
              <i class="pull-right">enviado en: {{enviada._usuarioRecibe.creado}}</i>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">

              <div class="col-lg-6">
                <span>{{enviada._usuarioRecibe.nombre}} {{enviada._usuarioRecibe.apellidos}}</span>
                <br>
                <span>{{enviada._usuarioRecibe.correo}}</span>
                <br>
                <p>{{enviada._usuarioRecibe.descripcion}}</p>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
    <div role="tabpanel" class="tab-pane" id="messages">

      <form class="form-horizontal" ng-submit="vm.doRequest()">
        <legend>Nueva solicitud</legend>
        <div class="form-group">
          <label>User solicita</label>
          <br>
          <input type="text" placeholder="usuario solicita" ng-disabled="vm.idUser" ng-model="vm.idUser">
        </div>
        <div class="form-group">
          <label>User destino</label>
          <br>
          <input type="text" placeholder="usuario solicita" ng-model="vm.idUserTarget">
        </div>

        <div class="form-group">
          <input type="submit" value="Aceptar" class="btn btn-info">
        </div>
      </form>

      <div>{{vm.requestResult}}</div>
    </div>
    <div role="tabpanel" class="tab-pane" id="settings">

      <h4>Recibidas</h4>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default" ng-repeat="enviada in vm.contacts.pendingToAnswer">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                {{enviada._usuarioRecibe.nombre}} {{enviada._usuarioRecibe.apellidos}}
              </a>
              <i class="pull-right">enviado en: {{enviada._usuarioRecibe.creado}}</i>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">

              <div class="col-lg-6">
                <span>{{enviada._usuarioRecibe.nombre}} {{enviada._usuarioRecibe.apellidos}}</span>
                <br>
                <span>{{enviada._usuarioRecibe.correo}}</span>
                <br>
                <p>{{enviada._usuarioRecibe.descripcion}}</p>
              </div>

            </div>
          </div>
        </div>
      </div>
  

      <div class="alert alert-{{vm.putResult.status}}" role="alert">{{vm.putResult.message}}</div>
    </div>
  </div>

</div>

<script>
  $(document).ready(function () {
    $('#accordion').collapse();
    $('#accordion a').click(function (e) {
      e.preventDefault()
    });
    $('#myTabs a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
    })
  });

</script>
