<p>
  Buscar</p>

<div class="input-group">
  <input type="text" class="form-control" placeholder="Search for...">
  <span class="input-group-btn">
      <button class="btn btn-default" ng-click="vm.searchJobs()" type="button">Buscar</button>
      <button class="btn btn-default" ng-click="vm.adSearch()" type="button">Busqueda avanzada >></button>
      <button class="btn btn-default" ng-click="vm.searchGeografica()" type="button">Busqueda geográfica!</button>
    </span>
</div>
<br>
<div ng-if="vm.geografica">

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">Ocupación</label>
    <div class="col-sm-8">
      <select class="form-control" ng-model="vm.search.geoOcupacion" ng-options="i._id as (i.nombre) for i in vm.ocupaciones | filter:{_sector:vm.search.idSector }">                           
                                  </select>
                                  <p>
                                  <input type="button" value="Aceptar" class="btn btn-success" ng-disabled="vm.dataLoading" ng-click="vm.geoSearch()">
                                </p>

                                <div>{{vm.geoSearchResult}}</div>
    </div>
  </div>
  <hr>
  <div id="map" ></div>
</div>
<form class="form" role="form" ng-submit="vm.advancedSearch()" ng-if="vm.advanced">
  <div>

    <div class="form-group">
      <label for="inputEmail3" class="col-sm-4 control-label">Categoría</label>
      <div class="col-sm-8">
        <select class="form-control" ng-model="vm.search.idSector" ng-options="i._id as (i.nombre) for i in vm.sectores">                           
                                  </select>
      </div>
    </div>

    <div class="form-group">
      <label for="inputEmail3" class="col-sm-4 control-label">Ocupación</label>
      <div class="col-sm-8">
        <select class="form-control" ng-model="vm.search.idOcupacion" ng-options="i._id as (i.nombre) for i in vm.ocupaciones | filter:{_sector:vm.search.idSector }">                           
                                    </select>
      </div>
    </div>



    <div class="form-group">
      <label for="inputEmail3" class="col-sm-4 control-label">Departamento</label>
      <div class="col-sm-6">
        <select class="form-control" ng-model="vm.search.departamento" ng-options="i.departamento as (i.departamento) for i in vm.ubicaciones">                           
                        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="inputEmail3" class="col-sm-4 control-label">Ciudad</label>
      <div class="col-sm-6">
        <select class="form-control" ng-model="vm.search.ciudad" ng-options="i._id as (i.municipio) for i in vm.ubicaciones | filter:{ departamento: vm.search.departamento }">                           
                        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="inputEmail3" class="col-sm-4 control-label">Calificación</label>
      <div class="col-sm-6">
        <label class="radio-inline">
                <input type="radio" name="calificacion"  ng-value="1" ng-model="vm.search.calificacion"> 1
              </label>
        <label class="radio-inline">
                <input type="radio" name="calificacion" ng-value="2" ng-model="vm.search.calificacion"> 2
              </label>

        <label class="radio-inline">
                  <input type="radio" name="calificacion"  ng-value="3" ng-model="vm.search.calificacion"> 3
                </label>
        <label class="radio-inline">            
                  <input type="radio" name="calificacion" ng-value="4" ng-model="vm.search.calificacion"> 4
                </label>
        <label class="radio-inline">
                    <input type="radio" name="calificacion" ng-value="5" ng-model="vm.search.calificacion"> 5
                  </label>
      </div>
    </div>



    <br>
    <div class="row">
      <div class="col-lg-12 text-right">
        <hr>
      </div>

    </div>
    <div class="row">
      <div class="col-lg-12 text-right">

        <input type="submit" value="Aceptar" class="btn btn-success" ng-disabled="vm.dataLoading">
        <a ng-click="vm.advanced = false" class="btn btn-default" ng-disabled="vm.dataLoading">Cancelar</a><br>

      </div>
    </div>
    <br>

  </div>
</form>

<div class="row text-left">
  <p><span class="text-danger" ng-if="vm.searchResult">{{vm.searchResult}}</span></p>
  <p><i><span ng-if="vm.jobs.length > 0">Total resultados {{vm.jobs.length}}</span></i></p>
</div>
<div class="jobs-container">
  <div class="job-item" ng-repeat="job in vm.jobs">

    <div class="well">
      <i class="pull-right">{{job.since}}</i>

      <div class="row">
        <div class="col-lg-4">
          <img src="{{job.srcImage}}" class="img-thumbnail" width="240" />
        </div>
        <div class="col-lg-6">

          <div class="row">
            <div class="col-lg-4">
              <strong>Apellidos</strong>
            </div>
            <div class="col-lg-8">
              {{job.apellidos}}
            </div>
          </div>


          <div class="row">
            <div class="col-lg-4">
              <strong>Nombres</strong>
            </div>
            <div class="col-lg-8">
              {{job.nombre}}
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4">
              <strong>Género</strong>
            </div>
            <div class="col-lg-8">
              <span ng-if="job.genero === 1">Masculino</span>
              <span ng-if="job.genero === 2">Femenino</span>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4">
              <strong>Descripción</strong>
            </div>
            <div class="col-lg-8">
              {{job.descripcion}}
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4">
              <strong>Ubicación</strong>
            </div>
            <div class="col-lg-8">
              {{job._ubicacion.municipio}},{{job._ubicacion.pais}}
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4">
              <strong>Calificaciones</strong>
            </div>
            <div class="col-lg-8">
              <span ng-if="job.calificaciones">{{job.calificaciones}}</span>
              <span ng-if="!job.calificaciones">0</span>

            </div>
          </div>

          <div class="row">
            <div class="col-lg-4">
              <strong>Prestador</strong>
            </div>
            <div class="col-lg-8">
              <span ng-if="job.calificacionPrestador">{{job.calificacionPrestador}}</span>
              <span ng-if="!job.calificacionPrestador">0</span>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4">
              <strong>Certificado</strong>
            </div>
            <div class="col-lg-8">
              <span ng-if="job.estaCertificado">Sí</span>
              <span ng-if="!job.estaCertificado">No</span>
            </div>
          </div>


          <div ng-repeat="ocup in job.ocupaciones">

            <hr>

            <div class="row">
              <div class="col-lg-4">
                <strong>Ocupación</strong>
              </div>
              <div class="col-lg-8">
                {{ocup._ocupacion.nombre}}
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4">
                <strong>Tipo</strong>
              </div>
              <div class="col-lg-8">
                <span ng-if="ocup.tipo === 1">Actividad principal</span>
                <span ng-if="ocup.tipo === 2">Actividad secundaria</span>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4">
                <strong>Experiencia</strong>
              </div>
              <div class="col-lg-8">
                {{ocup.experiencia}}
              </div>
            </div>

          </div>
        </div>


      </div>
      <i class="pull-right">Creado en {{job.creadoEn}}</i>
    </div>
    <hr>
  </div>
</div>
